.menu-container.bg-gray-800.left-0.w-60.min-h-full.flex-none.flex.flex-col.shadow-xl
    ul.menu.rounded-box.text-white
        li
            a(href="/").flex.row.gap-3.rounded-md.px-7.py-2.text-sm.font-medium.text-white.items-center
                i.fa-solid.fa-house
                |       Home - Business
        li
            a(href="/list").flex.row.gap-3.rounded-md.px-7.py-2.text-sm.font-medium.text-white.items-center
                i.fa-solid.fa-list-ul
                |       List
        li
            a(href="/api-docs" target="_blank").flex.row.gap-3.rounded-md.px-7.py-2.text-sm.font-medium.text-white.items-center
                i.fa-solid.fa-link
                |       API
        li
            a(href="/api/data" target="_blank").flex.row.gap-3.rounded-md.px-7.py-2.text-sm.font-medium.text-white.items-center
                i.fa-solid.fa-link
                |       JSON
                
