doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title RSI Website
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    body.dark.h-screen
        include includes/header.pug
        main.h-auto.flex.flex-row
            include includes/menu.pug 
            .flex.flex-row.flex-wrap.gap-2.my-2.justify-evenly
                include includes/origin.pug
                include includes/color.pug
                include includes/type.pug
                include includes/rawMaterial.pug
                include includes/category.pug
                include includes/manufactoringProcess.pug
        footer.mt-2 
            p &copy; 2025 RSI Backend Data Management. All rights reserved.
        script(src="/script.js" type="module")